body {
  margin: 0 !important;
}
.container {
    background-color: white;
}
.navbar{
    background-color: #444059;
}
.navbar-nav .nav-link {
    color: white; /* Change this to your desired text color */
  }

  /* Change the text color of active navbar link */
  .navbar-nav .nav-link.active {
    color: white; /* Change this to your desired text color */
  }
  .form-control{
    width: 125px;
  }
  .dropdown-menu{
    margin-top: 20% !important;
  }
  #roomTable tbody tr:hover{
    background-color: grey !important;
    cursor: pointer;
  }
  .calendar_default_corner{
    background: rgb(243, 243, 243) !important;
  }
  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #ebebeb !important;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px; /* Add padding to the main content area */
  }
  .content{
    padding-left: 0 !important;
  }
  .room_menu{
    background-color: white !important;
    box-shadow: 0 4px 10px -8px rgba(0,0,0,0.5);  }
  .room_menu a{
    color: black !important;
  }
  .dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}
.nested-dropdown{
  top: 0% !important;
  left: auto !important;
  margin-top: 23% !important;
}
.hidden {
  display: none;
}

.settings_content{
  width: 20rem !important;
}

#profile_image{
  border-radius: 50% !important;
  background-image: none;
    background-size: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #a393a1;
}
.settings .user_name{
  font-weight: 600;

}
.user_info{
  padding-right: 2rem;
}
#imagePreview{
  width: 150px;
  height: 150px;
}